<div class="inner container-fluid">
    <div class="row">
        <div class="col-md-3 sidebar">
            <div class="collection" *ngFor="let collection of collections" [ngClass]="{'active': collection['clicked']}" (click)="collection['clicked'] = !collection['clicked']">
                <div class="title"><i class="fa fa-caret-down caret" aria-hidden="true"></i>
                    {{collection['title']}}
                </div>
                <div class="feeds">
                    <div class="feed" *ngFor="let feed of collection['feeds']">
                        <div class="unread-count badge badge-secondary">{{feed['unread']}}</div>
                        <div class="name">{{feed['title']}}</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9">
        </div>
    </div>
</div>